.element__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 22px;
  height: 19px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}